<div class="content_containers">
<h3>Instructions:</h3>
*Total number of questions : 25.</br>

*Time alloted : 25 minutes.</br>

*Each question carry 1 mark, no negative marks.</br>
<h3>Note:</h3>

*Click the 'Submit Test' button given in the last page to Submit your answers.</br>

*Test will be submitted automatically if the time expired.</br>

*Don't skip Question.</br>

<div class="start">
<div class="actual_logbtn">
<%= link_to "Start Exam", :controller => "quiz", :action => "index" %></br>
</div>
</div>
</div>
