

<div class="letter">
<h1>Quiz Results</h1>
<p id="question">You answered correctly <%= @correct %> out of <%= @total %> questions.</p>

<p id="score">YOU HAVE SCORED <%= @correct %> MARKS !</p>
<p id="time">your time <%= Time.at(1500-@current_user.time).utc.strftime("%M:%S") %>  </p>

</div>